<!-- SPDX-License-Identifier: MIT -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="KmCalculatorRegistrationComponents" Directory="INSTALLFOLDER">
      <Component Id="KmCalculatorRegistrationComponent"
                 Guid="3a5c4769-09db-4a77-be50-a1b4d1555bcf"
                 Bitness="always64">
        <RegistryKey Root="HKLM" Key="Software\KM Calculator" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="InstallerFamily" Value="BurnMsi" Type="string" KeyPath="yes" />
          <RegistryValue Name="InstallLocation" Value="[INSTALLFOLDER]" Type="string" />
          <RegistryValue Name="InstallScope" Value="perMachine" Type="string" />
          <RegistryValue Name="Version" Value="[ProductVersion]" Type="string" />
          <RegistryValue Name="MainBinaryName" Value="KM Calculator.exe" Type="string" />
          <RegistryValue Name="CreateDesktopShortcut" Value="[KM_CREATE_DESKTOP_SHORTCUT]" Type="integer" />
          <RegistryValue Name="CreateStartMenuShortcut" Value="[KM_CREATE_START_MENU_SHORTCUT]" Type="integer" />
        </RegistryKey>

        <RemoveFolder Id="RemoveEmptyKmCalculatorInstallFolder"
                      Directory="INSTALLFOLDER"
                      On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
